 *{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body { 
    min-height: 100vh; 
}

ul{
  

    list-style-type: none; 
    display: flex;
    gap: 40px;
    margin-right: 120px;
}



.header{
   background-color: #1F2937;

   display: flex; 
   justify-content: space-between;
   align-items: center;
   height: 40px;
   padding:10px;
   

}

.logo{
    font-family: sans-serif;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
    margin-left: 120px;
    text-shadow: 2px 2px 2px grey;
}

a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    color: #E5E7EB;

    transition: all 0.2s ease-in-out;
}

a:hover{
    color: grey;
}


.right-side img{
    width: 400px;
  height: auto;
}

.first{
    background-color: #1F2937;

    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 300px; */


}

.first .left-side{
    margin-left:125px;
}

.first .left-side h1{
    font-size: 48px;
    font-weight: 800;
    font-family: Tahoma, sans-serif;
    color: #F9FAF8;
}

.first .left-side p{
    font-size: 18px;
    
    font-family: Tahoma, sans-serif;
    color: #E5E7EB;

    width: 600px;
    margin-top: 10px;
}

.first .right-side{
    margin-right: 125px;
}

#signup {
    padding: 5px 20px;
    border-radius: 10px;
    margin-top: 10px;

    color: white;
    background-color: #3882F6;
    font-weight: 600;
    border-color: #3882F6;
}

/* second section below */

 .second{
    /* border: 2px solid red; */
    height: 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 40px;
}


 .photos img{
    height: 50;
    width: 200px;

    border-radius: 20px;
    /* dfsdfsdf */
    transition: all 0.2s ease-in-out;
}


.photos img:hover{
    border: 3px solid #3882F6;
}


/* .photos{
    text-align: center;
} */

.photo-container{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    /* flex: 1; */
}


.second h2{
    font-size: 36px;
    font-weight: 800;
    color:#1F2937;
    font-family: Tahoma, sans-serif;

    
} 

.photos{
    flex:1;
    text-align: center;
}

.text{
    font-weight: 500;
    font-family: Tahoma, sans-serif;
    
}

/* third section below*/

.third{
    /* border: 2px solid red; */
    height: 350px;
    background-color: #E5E7EB;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

  
}

.quote{
    /* border: 2px solid green; */
    height: 100px;


    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

.third .author{
    /* border: 2px solid blue; */

    margin-top: 10px;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    
    font-style:bold;
    font-family: verdana;
}

/* fourth section below*/


.fourth{
    border: 2px solid red;
    height: 350px;

    display: flex;
    justify-content: center;
    align-items: center;
    

   
}


.modal{
    border: 2px solid #3882F6;
    
    background-color: #3882F6;

    border-radius: 8px;
    width: 900px;
    height: 100px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    
   
}

#signup-two{
    border: 2px solid white;

    padding: 5px 20px;
    border-radius: 10px;
       
    
    color: white;
    background-color: #3882F6;
    font-weight: 600;
        
}

.heading{
    font-size: 18px;
    font-style: bold;
    font-family: Tahoma, sans-serif;
    color: white;
    line-height: 25px;
}

.text-two{
    font-size: 15px;
    font-style: bold;
    font-family: Tahoma, sans-serif;
    color: #E5E7EB;
    line-height: 25px;
}

