 *{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body { 
    min-height: 100vh; 
}

ul{
  

    list-style-type: none; 
    display: flex;
    gap: 40px;
    margin-right: 120px;
}



.header{
   background-color: #1F2937;

   display: flex; 
   justify-content: space-between;
   align-items: center;
   height: 40px;
   padding:10px;
   

}

.logo{
    font-family: sans-serif;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
    margin-left: 120px;
    text-shadow: 2px 2px 2px grey;
}

a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    color: #E5E7EB;
}

a:hover{
    color: grey;
}


.right-side img{
    width: 400px;
  height: auto;
}

.first{
    background-color: #1F2937;

    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 300px; */


}

.first .left-side{
    margin-left:125px;
}

.first .left-side h1{
    font-size: 48px;
    font-weight: 800;
    font-family: Tahoma, sans-serif;
    color: #F9FAF8;
}

.first .left-side p{
    font-size: 18px;
    
    font-family: Tahoma, sans-serif;
    color: #E5E7EB;

    width: 600px;
    margin-top: 10px;
}

.first .right-side{
    margin-right: 125px;
}

#signup {
    padding: 5px 20px;
    border-radius: 10px;
    margin-top: 10px;

    color: white;
    background-color: #3882F6;
    font-weight: 600;
    border-color: #3882F6;
}